@model AppraisalSystem.Models.RoleViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 style="position:relative;top:7px;font-weight:normal;">Edit Role </h5>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row" style="border:none;text-decoration-color:#293955;margin-bottom:0px;transform:scale(0.8);position:relative;left:-113px;top:-23px;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="col-md-4">
            <p>
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-control-sm", style = "margin-top:5px;" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", style = "border-color:#293955;" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </p>
            <br />
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>


    </div>
}

<div style="font-size:smaller;border:none;text-decoration-color:#293955;">
    @Html.ActionLink("Back to List", "Index")
</div>