@model AppraisalSystem.Models.performancesummary

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <center>
        <div class="form-horizontal">
            <h4>STAFF EVALUATION FORM: PERFORMANCE SUMMARY</h4>
            <h4>Appraisee's Name: @ViewBag.Message</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <section id="personaldetails">
                <div class="form-group" style="display:none;">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "User Name" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="display:none;">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PFNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Personal Number" } })
                        @Html.ValidationMessageFor(model => model.PFNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="display:none;">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", placeholder = "Full Name" } })
                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="display:none;">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SupervisorName, new { htmlAttributes = new { @class = "form-control", placeholder = "Supervisor Name" } })
                        @Html.ValidationMessageFor(model => model.SupervisorName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <p style="font-style:italic;">
                            Select the current financial year
                        </p>
                        @Html.DropDownListFor(model => model.FinancialYear, new List<SelectListItem>()
       {
           new SelectListItem {Text="2019/2020", Value="2019/2020" },
           new SelectListItem {Text="2020/2021", Value="2020/2021" },
           new SelectListItem {Text="2021/2022", Value="2021/2022" },
           new SelectListItem {Text="2022/2023", Value="2022/2023" },
           new SelectListItem {Text="2023/2024", Value="2023/2024" }
       },
        "Financial Year", new { @class = "form-control", placeholder = "Financial Year" })
                        @Html.ValidationMessageFor(model => model.FinancialYear, "", new { @class = "text-danger" })
                    </div>
                </div>
            </section>

            <div class="form-group">
                <p style="font-style:italic;">
                    This is the overall score for the performance targets section.
                </p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PerformanceTargetScore, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PerformanceTargetScore, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p style="font-style:italic;">
                    This is the overall score for the values and competencies section.
                </p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ValuesandCompetenciesScore, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ValuesandCompetenciesScore, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p style="font-style:italic;">
                    This is the final score.
                </p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TotalScore, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TotalScore, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="display:none;">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SubmissionDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Appraisal Date of PT" } })
                    @Html.ValidationMessageFor(model => model.SubmissionDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </center>
}

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section Scripts
    {

    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker({
                dateFormat: "mm/dd/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "1920:2030"
            });
        });
    </script>

}
