@model AppraisalSystem.Models.performancesummary

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>performancesummary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PFNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PFNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancialYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerformanceTargetScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerformanceTargetScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValuesandCompetenciesScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValuesandCompetenciesScore)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
