@model AppraisalSystem.Models.traininganddevelopmentplan

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <center>
        <div class="form-horizontal">
            <h4>STAFF EVALUATION FORM: TRAINING AND PERSONAL DEVELOPMENT PLAN</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col" style="display:none;">
                    <div class="form-group">
                        <div class="col-md-10">
                            <p style="font-style:italic;">
                                Staff personal number
                            </p>
                            @Html.EditorFor(model => model.PFNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Personal Number" } })
                            @Html.ValidationMessageFor(model => model.PFNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <div class="col-md-10">
                            <p style="font-style:italic;">
                                Select the current financial year
                            </p>
                            @Html.DropDownListFor(model => model.FinancialYear, new List<SelectListItem>()
       {
           new SelectListItem {Text="2019/2020", Value="2019/2020" },
           new SelectListItem {Text="2020/2021", Value="2020/2021" },
           new SelectListItem {Text="2021/2022", Value="2021/2022" },
           new SelectListItem {Text="2022/2023", Value="2022/2023" },
           new SelectListItem {Text="2023/2024", Value="2023/2024" }
       },
        "Financial Year", new { @class = "form-control", placeholder = "Financial Year" })
                            @Html.ValidationMessageFor(model => model.FinancialYear, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" style="display:none;">
                <p style="font-style:italic;">
                    Enter your full name
                </p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <p style="font-style:italic;">
                    Enter the name of the training program
                </p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TrainingProgram, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TrainingProgram, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <p style="font-style:italic;">
                    Enter the name of the training institute
                </p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TrainingInstitute, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TrainingInstitute, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <p style="font-style:italic;">
                    Enter the number of days for the above entered training program
                </p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NumberofDays, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NumberofDays, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <p style="font-style:italic;">
                    Enter the total cost of the training program (KES)
                </p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TotalCost, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TotalCost, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <p style="font-style:italic;">
                    How is this course relevant to your current duties and responsibilities?
                </p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ApraiseeComents, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ApraiseeComents, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="display:none;">
                <p style="font-style:italic;">
                    Enter Supervisor's Name
                </p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SupervisorName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SupervisorName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="display:none;">
                <p style="font-style:italic;">
                    What are the HOD's general comments?
                </p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HODComments, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HODComments, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="display:none;">
                <p style="font-style:italic;">
                    Enter the date of submission
                </p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateofSubmission, new { htmlAttributes = new { @class = "form-control datepicker" } })
                    @Html.ValidationMessageFor(model => model.DateofSubmission, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </center>
}

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section Scripts
    {

    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker({
                dateFormat: "mm/dd/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "1920:2030"
            });
        });
    </script>

}
