@model AppraisalSystem.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Password Recovery";
}

<h4 style="position:relative;top:7px;font-weight:600;">Password Recovery </h4>
<hr />

<div class="row" style="border:none;text-decoration-color:#293955;margin-bottom:0px;transform:scale(0.8);position:relative;left:-113px;">
    <div class="col-md-12">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Enter your email.</h4>

            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Email, new { @class = "form-control-sm", style = "margin-top:5px;" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", style = "border-color:#293955;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-0 col-md-4">
                    <input type="submit" class="btn btn-primary" value="Email Link" />
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
